/*
 * CSS for Unit-4-Test
 */
body {
    background-color: #4aaaa5;
    background-image: url(../images/gravel.png);
    font-size: 20px;
}

.header {
    background-color: #cc7037;
    color: #fff;
    margin: 10px;
    padding: 20px;
    display: table;
 }

.instructions {    
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #c2d7ab;
    font-size: 20px;
    color: #cc7037;
    line-height: 2.0;
    font-weight: bold;
    margin: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    width: 560px;
    max-width: 100%;
 }
 
.random {
    background-color: green;
    color: #000;
    margin: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 300px;
    height: 130px;
    float: left;
}
 
.results {
    background-color: #fff;
    color: #000;
    margin: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    width: 130px;
    height: 130px;
    float: left;
}

.result {
    display: none;
}

.crystal {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.crystal:hover {
    outline: 5px solid #cc7037;
    outline-offset: 5px;
 }

.totalscoreheader {
    background-color: grey;
    color: #fff;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 20px;
    width: 300px;
    max-width: 100%;
}

.totalscorearea {
    background-color: grey;
    color: #fff;
    margin: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 300px;
    height: 150px;
    max-width: 100%;
}

